@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

.create-container {
  max-width: 500px !important;
}

.room-card {
  width: 20rem;
}

.pointer {
  cursor: pointer;
}

@import "../node_modules/bootstrap/scss/bootstrap";